<<<<<<< HEAD
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4; 
=======
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4; 
>>>>>>> 078f87372618cabe97856ddd7e397bf9bf3f8892
}